<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hpe.android.plugin.backgroundservice"
        version="2.0.0">

    <name>Background Service Plugin</name>

    <description>
        Service to demonstrate the use of the Cordova Android Background Service
    </description>

    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

	<!-- Load in the core background service -->
	<dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git"/>

    <!-- android -->
    <platform name="android">

		<asset src="www/myService.html" target="myService.html" />

		<js-module src="www/myService.js" name="MyService">
			<clobbers target="cordova.plugins.myService" />
		</js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="android.MyService" />
              
              
            
        </config-file>
        <!-- MyService -->
        <source-file src="src/android/MyService.java" target-dir="src/com/hpe/android/plugin/backgroundservice" />
		<!-- data -->
		<source-file src="src/android/data/Entity.java" target-dir="src/com/hpe/android/plugin/backgroundservice/data" />
		<source-file src="src/android/data/Group.java" target-dir="src/com/hpe/android/plugin/backgroundservice/data" />
		<source-file src="src/android/data/Monitor.java" target-dir="src/com/hpe/android/plugin/backgroundservice/data" />
		<source-file src="src/android/data/SiteScopeServer.java" target-dir="src/com/hpe/android/plugin/backgroundservice/data" />
		<source-file src="src/android/data/SiteScopeServerHelper.java" target-dir="src/com/hpe/android/plugin/backgroundservice/data" />
		<!-- db -->
		<source-file src="src/android/db/AccountInfoDbAdapter.java" target-dir="src/com/hpe/android/plugin/backgroundservice/db" />
		<source-file src="src/android/db/AccountInfoDbAdapterImpl.java" target-dir="src/com/hpe/android/plugin/backgroundservice/db" />
		<source-file src="src/android/db/DatabaseHelper.java" target-dir="src/com/hpe/android/plugin/backgroundservice/db" />
		<source-file src="src/android/db/DatabaseHelperImpl.java" target-dir="src/com/hpe/android/plugin/backgroundservice/db" />
		<!-- rest -->
		<!--       request -->
		<source-file src="src/android/rest/request/AbstractRestRequest.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/request" />
		<source-file src="src/android/rest/request/GetGroupSnapshotsRequest.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/request" />
		<source-file src="src/android/rest/request/GetMonitorSnapshotsRequest.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/request" />
		<source-file src="src/android/rest/request/GetSiteScopeMonitoringStatusWithIdentifierRequest.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/request" />
		<source-file src="src/android/rest/request/SearchRequest.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/request" />
		<!--       response -->
		<source-file src="src/android/rest/response/AbstractRestResponse.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/response" />
		<source-file src="src/android/rest/response/GetGroupSnapshotsResponse.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/response" />
		<source-file src="src/android/rest/response/GetMonitorSnapshotsResponse.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/response" />
		<source-file src="src/android/rest/response/GetSiteScopeMonitoringStatusWithIdentifierResponse.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/response" />
		<source-file src="src/android/rest/response/SearchResponse.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest/response" />
		
		<source-file src="src/android/rest/GetMonitorSnapshots.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest" />
		<source-file src="src/android/rest/RestCall.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest" />
		<source-file src="src/android/rest/RestCalls.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest" />
		<source-file src="src/android/rest/Timer.java" target-dir="src/com/hpe/android/plugin/backgroundservice/rest" />
		
		<!-- tasks -->
		<source-file src="src/android/tasks/AbstractTimedAsyncTask.java" target-dir="src/com/hpe/android/plugin/backgroundservice/tasks" />
		
		<!-- utils -->
		<source-file src="src/android/utils/SiteScopeError.java" target-dir="src/com/hpe/android/plugin/backgroundservice/utils" />
		
    </platform>
	
</plugin>